Repository AlexCointips/Cardano, changes with the owners that CODEOWNERS names for each.
All owners: @ruhatch, @dnadales, @nc6

CODEOWNERS:

# Code owners are automatically assigned to review PRs

# The goal is to not have more than 2 people responsible to avoid having too
# many reviewers which often leads to nobody feeling responsible to actually
# perform the review.

crypto/  @ruhatch @dnadales
nix/     @ruhatch @nc6
scripts/ @ruhatch @nc6
src/     @ruhatch @dnadales
test/    @ruhatch @dnadales

Add nightly buildkite pipeline
  .buildkite/nightly.yml
Owners: none

Define test executable for asserting that `ChainValidationState` is in NF
  cardano-ledger.cabal
  test/NormalFormTest.hs
  test/Test/Cardano/Chain/Block/Validation.hs
  test/Test/Options.hs
  test/cardano-ledger-test.cabal
  test/test.hs
Owners: @ruhatch, @dnadales

Assert `ChainValidationState` is in normal form in `epochValid` prop
  test/Test/Cardano/Chain/Block/Validation.hs
Owners: @ruhatch, @dnadales

Ensure that `svAppName` and `svNumber` are strict in `registerVote`
  src/Cardano/Chain/Update/Validation/Interface.hs
Owners: @ruhatch, @dnadales

WIP: CI job stuff
  .buildkite/pipeline.yml
  cardano-ledger.cabal
  nix/.stack.nix/cardano-ledger-test.nix
  nix/.stack.nix/cardano-ledger.nix
  nix/pkgs.nix
  release.nix
Owners: @ruhatch, @nc6

Silence stderr and check normal form per epoch
  cardano-ledger.cabal
  nix/.stack.nix/cardano-ledger.nix
  nix/pkgs.nix
  test/NormalFormTest.hs
  test/Test/Cardano/Chain/Block/Validation.hs
Owners: @ruhatch, @nc6, @dnadales

[skip ci] [#429] Generate `Config` from `FromSrc`
  cardano-ledger.cabal
  src/Cardano/Chain/Conversion.hs
  src/Cardano/Chain/Genesis/Config.hs
  stack.yaml
  test/Test/Cardano/Chain/Config.hs
  validate-mainnet/app/Features/Blockchain.hs
  validate-mainnet/app/Main.hs
  validate-mainnet/validate-mainnet.cabal
Owners: @ruhatch, @dnadales

[skip ci] [#429] Generate `Config` from `FromSpec`
  cabal.project
  cardano-ledger.cabal
  src/Cardano/Chain/Common/LovelacePortion.hs
  src/Cardano/Chain/Common/NetworkMagic.hs
  src/Cardano/Chain/Conversion.hs
  src/Cardano/Chain/Genesis/Config.hs
  src/Cardano/Chain/Genesis/Spec.hs
  src/Cardano/Chain/Update/ProtocolParameters.hs
  src/Cardano/Chain/Update/ProtocolParametersUpdate.hs
  src/Cardano/Chain/Update/Validation/Interface.hs
  stack.yaml
  test/Test/Cardano/Chain/Genesis/Dummy.hs
Owners: @ruhatch, @dnadales
